<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ user_profile.user.username }}!</h1>

    <h2>User Profile</h2>
    <p>Username: {{ user_profile.user.username }}</p>
    <p>Bio: {{ user_profile.bio }}</p>

    <h2>Visited Places:</h2>
    <ul>
        {% for place in visited_places %}
            <li><a href="{% url 'place_detail' place_id=place.id %}">{{ place.name }}  - <a href="{% url 'delete_place' place_id=place.id %}">Delete</a></a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_place' %}">Add Place</a>
    <a href="{% url 'login_page' %}">Logout</a>


    <!-- Other content as needed -->

</body>
</html>
