<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerary for {{ day }}</title>
</head>
<body>
    <h1>Itinerary for {{ day }}</h1>
    {% if activities %}
        <div>
            {% for activity in activities %}
                <div style="margin-bottom: 20px;">
                    <h2>{{ activity.name }}</h2>
                    <p>Description: {{ activity.description }}</p>
                    <p>Rating: {{ activity.rating }}/5</p>
                    {% if activity.image %}
                        <img src="{{ activity.image.url }}" alt="{{ activity.name }}" style="max-width: 500px; height: auto;">
                    {% endif %}
                    <!-- Edit Link for Activity -->
                    <a href="{% url 'edit_activity' activity.id %}">Edit Activity</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No activities added yet.</p>
    {% endif %}
    <a href="{% url 'add_activity' day_id=day.id %}">Add Activity</a>
    <a href="{% url 'place_detail' place_id=day.place.id %}">Back to Entry List</a>
    <a href="{% url 'home' user_profile_id=place.user_profile.id %}">Back to Homepage</a>
    <a href="{% url 'login_page' %}">Logout</a>
</body>
</html>
