<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ user_profile.user.username }}!</h1>

    {% if editing_bio %}
    <h2>Edit Bio</h2>
    <form id="bioEditForm" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Bio</button>
    </form>
    {% else %}
        <h2>Bio: {{ user_profile.bio }}</h2>
        <p id="bioSection"></p>
        <button onclick="redirectToEditBio()">Edit Bio</button>
    {% endif %}
    <h2>Visited Places:</h2>
    <ul>
        {% for place in visited_places %}
            <li><a href="{% url 'place_detail' place_id=place.id %}">{{ place.name }}  - <a href="{% url 'delete_place' place_id=place.id %}">Delete</a></a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_place' %}">Add Place</a>
    <a href="{% url 'login_page' %}">Logout</a>
    <script>
        function redirectToEditBio() {
            // Redirect to the edit_bio page
            window.location.href = "{% url 'edit_bio' user_profile_id=user_profile.id %}";
        }
    </script>=

</body>
</html>
